<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left-profile">
                    <div class="left-profile__pic">
                        <img src="images/profile.png" alt="profile picture" width="156.16px" height="135.05px">
                    </div>
                    <div class="left-profile__name">
                        <%=user.name%>
                    </div>
                    <div class="left-profile__job">
                        <%=user.profession%>
                    </div>
                    <div class="left-profile__icons">
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-facebook.svg" alt="icon facebook" class="icon-1"></div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-instagram.svg" alt="icon instagram" class="icon-1"></div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-twitter.svg" alt="icon twitter" class="icon-1"></div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-linkedin.svg" alt="icon linkedin" class="icon-1"></div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-youtube.svg" alt="icon youtube" class="icon-1"></div>
                        </a>
                        <a href="" class="link_href">
                            <div class="icon"><img src="icon/i-dribbble.svg" alt="icon dribbble" class="icon-1"></div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left-info"></div>
                <div class="marginer"></div>
                <div class="left-languages"></div>
                <div class="marginer"></div>
                <div class="left-skills"></div>
                <div class="marginer"></div>
                <div class="left-eskills"></div>
                <div class="marginer"></div>
            </div>
            <div class="middle_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>

</html>