* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.frame .major-frame {
  position: relative;
  width: 1440px;
  height: 8063px;
  display: flex;
  flex-direction: column;
  background: #f0f0f6;
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2px;
}

/* Left frame styles */

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.left_frame .lefter {
  position: relative;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lefter-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 47px;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 47px;
  margin-bottom: 25px;
  margin-top: 25px;
  border: 1.5px solid #f0f0f6;
}

/* Left frame => left profile styles */

.left-profile {
  width: 228px;
  height: 253px;
  margin-top: 47px;
  margin-bottom: 30px;
}

.left-profile__pic {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 135.05px;
  margin-bottom: 29.96px;
}

.left-profile__name {
  position: relative;
  width: 64px;
  height: 20.846px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.21px;
  color: #2b2b2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.left-profile__job {
  position: relative;
  width: 147.836px;
  height: 24.31px;
  margin-bottom: 17.62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-profile__icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 22px;
}

.link_href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.986px;
  height: 21.609px;
  border-radius: 50%;
  background: #ffb400;
}

.left-profile__icons a:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-profile__icons .icon-1 {
  position: relative;
  left: 20%;
  right: 20%;
  margin-top: 4.5px;
}

/* Left frame => left info styles */

.left-info {
  width: 221px;
  height: 126px;
}

.left-info .inf {
  position: relative;
  width: 221px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left-info .comm {
  position: relative;
  height: 24px;
  padding-left: 6px;
  padding-right: 8px;
  background: #ffb400;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-info .comm-left {
  position: relative;
  height: 24px;
  color: #2b2b2b;
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-info .comm-left.active {
  color: #7eb942;
}

/* Left frame => left languages styles */

.left-languages {
  width: 220px;
  height: 153px;
}

.lang-title {
  position: relative;
  width: 95px;
  height: 22px;
  margin-bottom: 6px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.lang-item {
  position: relative;
  width: 220px;
  height: 41px;
}

.lang {
  position: relative;
  width: 219px;
  height: 24px;
  margin-top: 9px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: #767676;
  text-transform: capitalize;
}

.lang-name {
  position: relative;
  height: 24px;
  padding-right: 8px;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.lang-pro {
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  position: relative;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 4px;
}

/* Left frame => left skills styles */

.left-skills {
  width: 220px;
  height: 242px;
}

/* Left frame => left extra skills styles */

.left-eskills {
  width: 186px;
  height: 148px;
  justify-content: space-between;
}

.eskill {
  position: relative;
  width: 200px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.eskill-name {
  position: relative;
  height: 24px;
  padding-right: 8px;
  margin-left: 15px;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

/* Middle frame styles */

.main_frame .middle_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-right: 27px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* middle frame => middle intro styles */

.middle-intro {
  position: relative;
  width: 971px;
  height: 454.328px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  background: #fff;
}

.intro-cv {
  position: relative;
  margin-top: 99.15px;
  margin-left: 56.07px;
  display: flex;
  flex-direction: column;
}

.middle-intro__work {
  position: relative;
  width: 499.514px;
  height: 116.744px;
  color: #2b2b2b;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%; /* 59.328px */
}

.middle-intro__description {
  position: relative;
  margin-top: 17.11px;
  margin-left: 4.93px;
  width: 424.437px;
  height: 85.612px;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

.middle-intro__button {
  position: relative;
  margin-top: 22.78px;
  width: 94.159px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 32px;
  border-radius: 5px;
  background: #ffb400;
}

.middle-intro__button button {
  position: relative;
  color: #2b2b2b;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: #ffb400;
  padding: 0;
}

.middle-intro__button img {
  width: 16px;
  height: 16px;
}

.middle-intro__picture {
  position: relative;
  margin-top: 16.46px;
  margin-right: 61.65px;
}

/* Middle frame => middle services styles */

.middle-services {
  position: relative;
  width: 970px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-services__title {
  position: relative;
  width: 193px;
  height: 40px;
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  text-transform: capitalize;
}

.middle-services__subtitle {
  position: relative;
  width: 438px;
  height: 68px;
  margin-top: 25px;
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.middle-services__list {
  position: relative;
  width: 970px;
  height: 470px;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.middle-services__list .list-service {
  position: relative;
  width: 310px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.middle-services__list .list-service .list-service__icon {
  position: relative;
  width: 68px;
  height: 68px;
  margin-top: 28px;
}

.middle-services__list .list-service .list-service__title {
  position: relative;
  width: 158px;
  height: 22px;
  margin-top: 26px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.middle-services__list .list-service .list-service__subtitle {
  position: relative;
  width: 134px;
  height: 24px;
  margin-top: 15px;
  color: #767676;
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.middle-services__list .list-service .service-add__title {
  position: relative;
  width: 99px;
  height: 22px;
  margin-top: 31px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
}

.middle-services__list .list-service .service-add__subtitle {
  position: relative;
  width: 260px;
  height: 78px;
  margin-top: 22px;
  color: #767676;
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.middle-services__list .list-service .service-add__button {
  position: relative;
  width: 100px;
  height: 20px;
  margin-top: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.list-service .service-add__button button {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 80px;
  height: 14px;
  color: #ffb400;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  border: none;
  background: white;
}

/* Right frame styles */

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
}

/* Right frame => right contrast styles */

.right-contrast {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right frame => right menu styles */

.right-menu {
  position: relative;
  width: 65px;
  height: 493px;
  margin-top: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 43px;
}

.right-menu__item {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  background: #f0f0f6;
}

.right-menu .right-menu__item:first-child {
  background: #ffb400;
}

/* Second frame styles */

.remain-frame {
  position: relative;
  width: 970px;
  height: 6735px;
  margin-top: 13px;
  margin-left: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;

  /* background: aqua; */
}

.tlt {
  position: relative;
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%;
  text-transform: capitalize;
}

.subtlt {
  position: relative;
  color: #767676;
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

/* Second frame => prices page styles */

.remain-frame .prices-page {
  position: relative;
  width: 970px;
  height: 793px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-page__title {
  width: 174px;
  height: 40px;
}

.prices-page__subtitle {
  width: 438px;
  height: 68px;
  margin-top: 25px;
}

.prices-page__list {
  position: relative;
  width: 970px;
  height: 609px;
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.prices-page__pricing {
  position: relative;
  width: 310px;
  height: 609px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.pricing-type {
  position: relative;
  height: 30px;
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
  line-height: 123.6%;
  text-transform: capitalize;

  margin-top: 54px;
}

.pricing-price {
  position: relative;
  width: 166px;
  height: 40px;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.pricing-price span:first-child {
  position: relative;
  width: 116px;
  height: 40px;
  color: var(--Black, #2b2b2b);
  font-size: 32px;
  font-weight: 700;
  line-height: 123.6%; /* 39.552px */
  text-transform: capitalize;
}

.pricing-price span:last-child {
  position: relative;
  width: 40px;
  height: 24px;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.pricing-description {
  position: relative;
  width: 248px;
  height: 48px;
  margin-top: 8px;
  color: #767676;
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.pricing-list {
  position: relative;
  width: 253px;
  height: 305px;
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.pricing-list__item {
  position: relative;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.pricing-list__item img {
  position: relative;
  width: 24.885px;
  height: 24px;
}

.pricing-list__item span {
  position: relative;
  height: 24px;
  margin-left: 15.11px;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.pricing-list__item span.pass {
  color: #767676;
}

.pricing-button {
  position: relative;
  width: 168px;
  height: 38px;
  margin-top: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.prices-page__pricing .pricing-button.active {
  background: #ffb400;
}

.pricing-button button {
  background: none;
  border: none;
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.prices-page__pricing .pricing-popular {
  position: absolute;
  top: 0px;
  width: 310px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  background-color: #ffb400;
}

/* Second frame => recommends page styles */

.remain-frame .recommends-page {
  position: relative;
  width: 970px;
  height: 566px;

  background: #fff;
}

/* Second frame => education page styles */

.remain-frame .education-page {
  position: relative;
  width: 970px;
  height: 815px;

  background: #fff;
}

/* Second frame => work page styles */

.remain-frame .work-page {
  position: relative;
  width: 970px;
  height: 815px;

  background: #fff;
}

/* Second frame => portfolio page styles */

.remain-frame .portfolio-page {
  position: relative;
  width: 970px;
  height: 1195px;

  background: #fff;
}

/* Second frame => blog page styles */

.remain-frame .blog-page {
  position: relative;
  width: 970px;
  height: 665px;

  background: #fff;
}

/* Second frame => contact page styles */

.remain-frame .contact-page {
  position: relative;
  width: 970px;
  height: 755px;

  background: #fff;
}

/* Second frame => map page styles */

.remain-frame .map-page {
  position: relative;
  width: 970px;
  height: 300px;

  background: #fff;
}

/* Second frame => partners page styles */

.remain-frame .partners-page {
  position: relative;
  width: 970px;
  height: 140px;

  background: #fff;
}

/* Second frame => footer styles */

.remain-frame .footer {
  position: relative;
  width: 970px;
  height: 60px;

  background: #fff;
}
