* {
  font-family: sans-serif;
  font-style: normal;
}

.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e5e5e5;
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background-color: #edf1a0;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main_frame .middle_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-right: 27px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--White-font, #fafafa);
  box-shadow: 4px 0px 10px 0px rgba(47, 122, 249, 0.1);
}

/* Left frame styles */

.left_frame .lefter {
  position: relative;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lefter-1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 47px;
}

/* Left frame => left profile styles */

.left-profile {
  width: 228px;
  height: 253px;
  margin-top: 47px;
  margin-bottom: 30px;
}

.left-profile__pic {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 135.05px;
  margin-bottom: 29.96px;
}

.left-profile__name {
  position: relative;
  width: 64px;
  height: 20.846px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.21px;
  color: #2b2b2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.left-profile__job {
  position: relative;
  width: 147.836px;
  height: 24.31px;
  margin-bottom: 17.62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-profile__icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 22px;
}

.link_href {
  text-decoration: none;
  color: black;
}

.icon {
  position: relative;
  width: 24.986px;
  height: 21.609px;
  border-radius: 50%;
  background: #ffb400;
}

.left-profile__icons a:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-profile__icons .icon-1 {
  position: relative;
  left: 20%;
  right: 20%;
  margin-top: 4.5px;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 47px;
  margin-bottom: 25px;
  margin-top: 25px;
  border: 1.5px solid #f0f0f6;
}

/* Left frame => left info styles */

.left-info {
  width: 221px;
  height: 126px;
}

.left-info .inf {
  position: relative;
  width: 221px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left-info .comm {
  position: relative;
  height: 24px;
  padding-left: 6px;
  padding-right: 8px;
  background: #ffb400;
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-info .comm-left {
  position: relative;
  height: 24px;
  color: #2b2b2b;
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-info .comm-left.active {
  color: #7eb942;
}

/* Left frame => left languages styles */

.left-languages {
  width: 220px;
  height: 153px;
}

.lang-title {
  position: relative;
  width: 95px;
  height: 22px;
  margin-bottom: 6px;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.lang-item {
  position: relative;
  width: 220px;
  height: 41px;
}

.lang {
  position: relative;
  width: 219px;
  height: 24px;
  margin-top: 9px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: #767676;
  text-transform: capitalize;
}

.lang-name {
  position: relative;
  height: 24px;
  padding-right: 8px;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.lang-pro {
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  position: relative;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-line {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 220px;
  height: 4px;
}

/* Left frame => left skills styles */

.left-skills {
  width: 220px;
  height: 242px;
}

/* Left frame => left extra skills styles */

.left-eskills {
  width: 186px;
  height: 148px;
  justify-content: space-between;
}

.eskill {
  position: relative;
  width: 186px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.eskill-name {
  position: relative;
  height: 24px;
  padding-right: 8px;
  margin-left: 15px;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}
